.sec-title {
  padding: 5px 0px 5px 20px;
  margin: 20px 0px 20px;
  border-left: 4px solid #000;
}

.book-list-item:hover {
  background: #e9ecef;
  cursor: pointer;
}

.fold-button::before {
  display: inline-block;
  content: '▲';
  transform: rotate(180deg);
  transition: 0.2s transform;
  color: #999;
}

.fold-button.collapsed::before {
  transform: rotate(90deg);
}
